.produtos-container {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 6%;
    margin-bottom: 7%;
}

.produtos-lista::marker {
    display: none;
    color: transparent;
}

.produtos-titulo {
    font-size: 28px;
    color: #1250A1;
    text-align: center;
    text-decoration: underline;
}

.produtos-slider {
    padding: 7%;
}

.produtos-imagens {
    width: 95%;
    height: 300px;
    object-fit: contain;
}

.slick-dots {
    align-items: center !important;
    margin-top: 5%;
    margin-bottom: -5% !important;
    position: relative !important;
    display: flex !important;
    justify-content: center;
}
.slick-dots li button {
    font-size: 18px; 
    color: transparent !important;; 
}

.slick-dots li.slick-active button {
    border-radius: 50px;
    background-color: yellow;
}

.slick-dots li button:before {
    color: #1250A1 !important;;
}

.slick-arrow {
    display: none !important;
}

@media screen and (min-width: 768px) {
    .produtos-container {
        width: 100%;
        height: 550px;
        background-color: #fff;
        padding: 6%;
    }
}

@media screen and (min-width: 1024px) {
    .produtos-container {
        height: auto;
        padding: 5%;
        margin-bottom: 0%;
    }

    .produtos-lista::marker {
        display: none;
        color: transparent;
    }

    .produtos-titulo {
        font-size: 32px;
        text-align: left;
    }

    .produtos-slider {
        padding: 2% 0 0 0;
    }
}

@media screen and (min-width: 1880px) {
    .produtos-container {
        margin-bottom: -4%;
    }
    .slick-list {
        margin-bottom: 5% !important;
    }
    .produtos-titulo {
        font-size: 38px;
        color: #1250A1;
        text-align: center;
    }
    
    .produtos-slider {
        padding: 7%;
    }
    
    .produtos-imagens {
        width: 99%;
        height: 300px;
        object-fit: contain;
    }
}